/* Document styles */

html,
body {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

span,
ul {
  color: white;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}


/* Header Section */

header {
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  padding: 0 1rem 0 2rem;
  height: 1.5rem;
}

.navigation {
  display: flex;
}

.navigation li {
  padding: 1rem 2rem;
}

.mobile {
  display: none;
}

/* Banner Section */

.optics {
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 31rem;
}

.banner {
  position: relative;
  top: 14rem;
  display: flex;
  justify-content: flex-end;
  left: 2rem;
  }

.banner h1 {
  background-color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 1.5rem 5rem;
  margin: 0, 0, 5rem, 0;
}


/* Features Section */

.features {
  display: flex;
  justify-content: center;
}

.feature {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 5rem;
  height: 8rem;
}

.caption {
  text-align: center;
}

.ruler img,
.truck img {
  max-width: 5rem;
}

.paper img {
  max-width: 3rem;
}

.caption span{
  color: black;
}


/* Information Section */

.information {
  display: flex;
  padding-bottom: 5rem;
}

.info {
  width: 35%;
  margin-right: 5%;
}

.headline {
  width: 10rem;
  background-color: cadetblue;
}

.headline h2 {
  padding: 0.5rem 1.25rem;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
}

p {
  margin-top: 1rem;
}

/* Footer Section */

footer .container {
  padding: 4rem;
  background-color: azure;
  display: flex;
  align-items: center;
}

footer img {
  height: 1.5rem;
  width: auto;
  padding-right: 1rem;
}

footer span {
  color: black;
}
